<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="p-3 mb-2 bg-info text-white">
        <div class="container-fluid">
        
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                </a>
        
                <ul class="nav navbar-nav">
                    <li><a class="thisIsCyan" href="/">[ Home ]</a></li>
                    <li><a class="thisIsCyan" href="/AddPerson">[ Add Person ]</a></li>
                    <li><a class="thisIsCyan" href="/PeopleByAll">[ All People ]</a></li>
                    <li><a class="thisIsCyan" href="/PeopleByAge">[ Organized By Age ]</a></li>
                </ul>
            </div>
        
        </div>
    </div>
</nav>