body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.thisIsCyan{
  background-color: cyan;
  color: magenta;

}

.thisIsMagenta{
  background-color: magenta;
  color: cyan;

}

.thisIsPurple{
  background-color: purple;
  color: lightblue;

}

