
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main>
  <div class="text-primary">
    <div class="jumbotron">

      <h2>Add Person</h2>
      <label for="male">First Name: </label>
      <input type="text" name="firstName" id="firstName" value=""><br>
      <label for="female">Last Name: </label>
      <input type="text" name="lastName" id="lastName" value=""><br>
      <label for="other">Age: </label>
      <input type="text" name="age" id="age" value=""><br><br>

      <input type="button" id="btn1" value="Add Person" onclick="updateURL()">

      </br>
    </div>
  </div>


</main>

<footer>
  <% include ../partials/footer %>
</footer>

<script type="text/javascript">
// our menu calls this page URL with no ?id= value,
// so code needs to check for that
// when user enters data, I append the data using the required ?id=

  function updateURL() {
    // http://localhost:3000/uploadData?id=Terminator&date=1946
    var myURL = (document.location).toString();
    var n = myURL.indexOf("?");
    myURL = myURL.substr(0, n); 
    document.location = myURL + "?firstName=" + document.getElementById("firstName").value + "&lastName=" + document.getElementById("lastName").value  + "&age=" + document.getElementById("age").value;

  }
</script>

</body>
</html>