<!-- views/pages/index.ejs -->

<!DOCTYPE html>
  <html lang="en">
  <head>
      <% include ../partials/head %>
  </head>
  <body class="container">

    <header>
        <% include ../partials/header %>
    </header>
    <main>
      <div class="jumbotron" class="thisIsCyan">
          <div class="p-3 mb-2 bg-warning text-dark">
          <h1>The People Database</h1>
          <p>Everything there is to know about these people.</p>
      </div>
    </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>