
<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ../partials/head %>
  </head>

  <body class="container">

  <header>
      <% include ../partials/header %>
  </header>

  <main>
    <div class="text-primary">
      <div class="jumbotron">
        <h2>All People in Database</h2>
        <%if (dataArray != null) { %>
          <ul class="list-group">
            <% for(var i=0; i<dataArray.length; i++) {%>
              <li class="list-group-item"><%= "Name:  " + dataArray[i].firstName + " " + dataArray[i].lastName + " | " + "Age: " + dataArray[i].age %></li>
            <% } %>
          </ul>
        <% } %>
        </br>
      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

  </body>
</html>